
Project_2/obj/Debug/Project_2.pdb
Project_2/obj/Debug/Project_2.exe
Project_2/bin/Debug/Project_2.exe
.vs/Project_2/v17/.suo
Project_2/bin/Debug/Project_2.pdb
.vs/Project_2/FileContentIndex/6971ac02-cc02-4189-84d5-6bb4fffa2c28.vsidx
.vs/Project_2/FileContentIndex/read.lock
